
/*HTML元素*/
body{
    background-color: #c6ceb4;
    font-size: 0.75rem;
}

a {
    color: darkred;
    text-decoration: none;
}

div> div> a{
    color: #293f46;
}

/* CLASS */

.req-cls{
    background-color: #89a6cb;
}

/* ID */
#troble{
  color: lightcoral;
}